@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@400;500;700&display=swap');

*{
	box-sizing: border-box;
}
 body{
 	margin: 0px;
 	font-family: 'Kaisei HarunoUmi', serif;

 }

.banner {
        background-color: skyblue;
        padding-top: 200px;
        padding-bottom: 200px;
        } 

      .container {
        width: 1200px;
        background-color: #FFE6C0;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
      }

      h1 {
      	margin: 0px;
      	font-size: 80px;
      	color: #0a0a0a;
      	max-width: 1050px;
      	margin-left: auto;
      	margin-right: auto;
      	line-height: 1;
      	font-weight: 800;
      	margin-bottom: 25px;
      	}

      	p{

margin: 0px;

color: #0a0a0a;

font-size: 20px;

line-height:1.5;

}

		.about-us{

background-color: #FFE6C0;

padding: 100px 0;

}

		.row{
			display: flex;
			flex-basis: wrap;

		}
		.column_1{
			padding: 20px;
			flex-basis: 40%;
			max-width: 40%;
			text-align: left;

		}
		.column_2{
			padding: 20PX;
			flex-basis: 60%;
			max-width: 60%;

		}
		img{
			max-width: 100%;
			border-radius: 10px;
		}

		h2{
}
		strong{}
		.column_1 p{}
		.img_one{
    border-radius: 10px;
    transform: translate(10px, 120px);
}
		.img_two{
    border-radius: 10px;
    transform: translate(40px, 90px);
}

